eval $(thefuck -a woops)
eval $(thefuck -a fuck)
eval $(kubectl completion zsh)

# Generate a random string. Length based on the first arg
random() {
    LC_ALL=C tr -dc 'A-Za-z0-9!#$%&:' </dev/urandom | head -c $1 ; echo
}

strlen() {
  var=$1
  echo ${#var}
}

podname() {
  kgpo -o name | fzf
}

logs() {
  klo $(podname)
}

cert-ttl() {
  kgsecoyaml $(kgsec -o name | fzf) -o jsonpath='{.data.tls\.crt}' | base64 --decode | openssl x509 -noout -enddate
}

gbdreg() {
  git branch -d $(git branch | grep $1)
}

gbDreg() {
  git branch -D $(git branch | grep $1)
}


